fastapi
uvicorn[standard]
joblib
scikit-learn
transformers  # instead of sentence-transformers
torch==2.1.0+cpu --index-url https://download.pytorch.org/whl/cpu
huggingface_hub
python-dotenv
openai
requests
onnx
skl2onnx
onnxruntime