fastapi
uvicorn[standard]
joblib
scikit-learn
transformers  # instead of sentence-transformers
torch
huggingface_hub
python-dotenv
openai
requests
onnx
skl2onnx
onnxruntime
# Data Science & Intelligent Layer
pandas==2.2.0
scikit-learn
statsmodels==0.14.1
networkx==3.2.1
firebase-admin==6.4.0
